body {
    background-color: moccasin;
    text-align: center;
    
    
}

h1 {
    font-family: monospace;
}

h1, h2 {
    text-align: center;
}

table {
    margin-right: auto;
    margin-left: auto;
    
    
}

thead, td {
    font-family: monospace;
    font-weight: bold;
    font-size: large;
}

h2 {
    background-color: black;
    color: moccasin;
    font-family: Helvetica;
}

 footer {
    text-align: left;
    
}
